body{
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
#calculator{
	font-family: Arial, sans-serif;
	background-color: #252525;
	border-radius: 15px;
	max-width: 500px;
	overflow: hidden;
}
#display{
	width: 100%;
	padding: 20px;
	font-size: 5rem;
	text-align: left;
	border: none;
	background-color: #4d4d4d;
	color: white;
	pointer-events: none;
}
#keys{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	padding: 25px;
	
}
button{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	border: none;
	background-color: #666666;
	color: white;
	font-size: 3rem;
	font-weight: bold;
	cursor: pointer;
}
button:hover{
	background-color: #737474;
}
button:active{
	background-color: #8b8b8b;
}
.operator-btn{
	background-color: #ffab00;
}
.operator-btn:hover{
	background-color: #ffc349;
}
.operator-btn:active{
	background-color: #ffcc64;
}
